<div class = "row some-padding">
    <button class="btn btn-info" (click)="showModal('addRecommendedVendorsModal');">ADD RecommendedVendors</button>
</div>
<div class = "row"> 
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-6">
                <div class = "row">
                    <div class= "form-group">
                        <select class="form-control input-sm inline-with-label" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="15">15</option>
                        </select>
                        <label class="label-control">records per page</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class = "row">
                    <div class= "form-group pull-right">
                        <label class="label-control">Search</label>
                        <input class="form-control inline-with-label" [(ngModel)]="filterQuery"/>
                    </div>
                </div>  
            </div>
        </div>
        <div class="panel panel-default">
            <div class="table-responsive">    
                <table class="table table-hover table-bordered table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                    [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th>
                                Business Name
                            </th> 
                            <th>
                                <mfDefaultSorter by="category">Category</mfDefaultSorter>
                            </th> 
                            <th>
                                <mfDefaultSorter by="ratings">Ratings</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="speaks_japanese">Speaks Japanese</mfDefaultSorter>
                            </th> 
                            
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let recommended of mf.data">
                        <td>
                            {{ getName('all_vendors',recommended?.vendor_id) }}
                        </td>
                        <td>
                            {{ recommended?.category }}
                        </td>
                        <td>
                            <i class="fa fa-star fa-lg m-t-2" *ngFor="let rate of setRatingCounter(recommended?.ratings); let last = last "></i>
                            <span *ngIf="last">
                                {{ refresh() }}
                            </span>
                        </td>
                        <td>
                            {{ recommended?.speaks_japanese }}
                        </td>
                        
                        <td>
                            <button class="btn btn-info" (click)="updateForms(recommended);showModal('updateRecommendedVendorsModal');">EDIT</button>
                            <button class="btn btn-danger" (click)="showModal('deleteRecommendedVendorsModal');vendor_selected = recommended;">DELETE</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <mfBootstrapPaginator class="pull-right"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add RecommendedVendors Modal -->
<div bsModal #addRecommendedVendorsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addRecommendedVendorsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add Recommended Vendors</h4>
            <button class="close" aria-label="Close" (click)="hideModal('addRecommendedVendorsModal')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <form novalidate [formGroup] = "add_recommended_form" (ngSubmit)="setRecommendedVendor(add_recommended_form,'add');" *ngIf="!is_empty">
        <div class="modal-body">
            <div *ngIf="error_message" class = "alert alert-danger">
                {{ error_message }}
            </div>
            <div *ngIf="success_message" class = "alert alert-success">
                {{ success_message }}
            </div> 
            
            <div class="form-group" [ngClass]="{'has-danger': !add_recommended_form.controls.category.valid && add_recommended_form.controls.category.touched}">
                <label for="category">Category:</label>
                <select formControlName="category" class="form-control">
                    <option value="" selected>Select a Category</option>
                    <option value="{{category}}" *ngFor="let category of category_list">{{category}}</option>
                </select>
            </div>
            
            <div class="form-group" [ngClass]="{'has-danger': !add_recommended_form.controls.vendor_id.valid && add_recommended_form.controls.vendor_id.touched}">
                <label for="vendor_id">Vendors:</label>
                <select formControlName="vendor_id" class="form-control">
                    <option value="" selected>Select a Vendor</option>
                    <option value="{{ key }}" *ngFor="let key of recommended_list">{{ getName('all_vendors',key) }}</option>
                </select>
            </div>
            
            <div class="form-group" [ngClass]="{'has-danger': !add_recommended_form.controls.ratings.valid && add_recommended_form.controls.ratings.touched}">
                <label for="ratings">Ratings:</label>
                <select formControlName="ratings" class="form-control">
                    <option value="" selected>Select Vendor Rating</option>
                    <option value="{{ rate }}"  *ngFor="let rate of [1,2,3,4,5]" >{{ rate }}</option>
                </select>
            </div>

            <div class="form-group" [ngClass]="{'has-danger': !add_recommended_form.controls.speaks_japanese.valid && add_recommended_form.controls.speaks_japanese.touched}">
                <label for="speaks_japanese">Speaks Japanese:</label>
                <select formControlName="speaks_japanese" class="form-control">
                    <option value="" selected>Speaks Japanese?</option>
                    <option value="true">YES</option>
                    <option value="false">NO</option>
                </select>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="hideModal('addRecommendedVendorsModal')">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="!add_recommended_form.valid">Save changes</button>
        </div>
    </form>  
        <p *ngIf="is_empty" class="text-center">No Vendors to Recommend.</p>
    </div>
  </div>
</div>
<!-- End of Add RecommendedVendors Modal -->

<!-- Update RecommendedVendors Modal -->
<div bsModal #updateRecommendedVendorsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateRecommendedVendorsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Vendor</h4>
        <button class="close" aria-label="Close" (click)="hideModal('updateRecommendedVendorsModal')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form novalidate [formGroup] = "update_recommended_form" (ngSubmit)="setRecommendedVendor(update_recommended_form,'update');">
        <div class="modal-body">
            <div *ngIf="error_message" class = "alert alert-danger">
                {{ error_message }}
            </div>
            <div *ngIf="success_message" class = "alert alert-success">
                {{ success_message }}
            </div> 

            <div class="form-group" [ngClass]="{'has-danger': !update_recommended_form.controls.category.valid && update_recommended_form.controls.category.touched}">
                <label for="category">Category:</label>
                <select formControlName="category" class="form-control">
                    <option value="" selected>Select a Category</option>
                    <option value="{{category}}" *ngFor="let category of category_list">{{category}}</option>
                </select>
            </div>
            
            <div class="form-group" [ngClass]="{'has-danger': !update_recommended_form.controls.vendor_id.valid && update_recommended_form.controls.vendor_id.touched}">
                <label for="vendor_id">Vendors:</label>
                <select formControlName="vendor_id" class="form-control">
                    <option value="" selected>Select a Vendor</option>
                    <option value="{{vendor?.$key}}" *ngFor="let vendor of all_vendors">{{vendor?.en?.business_name}}</option>
                </select>
            </div>
            
            <div class="form-group" [ngClass]="{'has-danger': !update_recommended_form.controls.ratings.valid && update_recommended_form.controls.ratings.touched}">
                <label for="ratings">Ratings:</label>
                <select formControlName="ratings" class="form-control">
                    <option value="" selected>Select Vendor Rating</option>
                    <option value="{{ rate }}"  *ngFor="let rate of [1,2,3,4,5]" >{{ rate }}</option>
                </select>
            </div>

            <div class="form-group" [ngClass]="{'has-danger': !update_recommended_form.controls.speaks_japanese.valid && update_recommended_form.controls.speaks_japanese.touched}">
                <label for="speaks_japanese">Speaks Japanese:</label>
                <select formControlName="speaks_japanese" class="form-control">
                    <option value="" selected>Speaks Japanese?</option>
                    <option value="true">YES</option>
                    <option value="false">NO</option>
                </select>
            </div>
            

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="hideModal('updateRecommendedVendorsModal')">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="!update_recommended_form.valid">Save changes</button>
        </div>
    </form>  
    </div>
  </div>
</div>
<!-- End of Update RecommendedVendors Modal -->

<!-- Delete RecommendedVendors -->
<div bsModal #deleteRecommendedVendorsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteRecommendedVendorsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title">CONFIRM "{{ vendor_selected?.en?.business_name }}" Vendor DELETION</h4>
                <button type="button" class="btn btn-default" (click)="hideModal('deleteRecommendedVendorsModal')">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="deleteRecommendedVendor(vendor_selected); hideModal('deleteRecommendedVendorsModal')">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- End of Delete RecommendedVendors -->