<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block">
                            <p class="text-muted">Sign In to your account</p>
                            <div *ngIf="hasError" class="alert alert-danger">
                              {{ hasError }}
                            </div>
                            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
                                <div class="input-group mb-1" [ngClass]="{'has-danger': !loginForm.controls.email.valid && loginForm.controls.email.touched}">
                                    <span class="input-group-addon"><i class="icon-user"></i>
                                    </span>
                                    <input type="email" class="form-control" formControlName="email" placeholder="Email Address">
                                </div>
                                <div class="input-group mb-2" [ngClass]="{'has-danger': !loginForm.controls.password.valid && loginForm.controls.password.touched}">
                                    <span class="input-group-addon"><i class="icon-lock"></i>
                                    </span>
                                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-2" [disabled]="!loginForm.valid">Login</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
