<div class = "row some-padding">
    <button class="btn btn-info" (click)="showModal('addAccountsModal');">ADD Accounts</button>
</div>
<div class = "row"> 
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-6">
                <div class = "row">
                    <div class= "form-group">
                        <select class="form-control input-sm inline-with-label" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="15">15</option>
                        </select>
                        <label class="label-control">records per page</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class = "row">
                    <div class= "form-group pull-right">
                        <label class="label-control">Search</label>
                        <input class="form-control inline-with-label" [(ngModel)]="filterQuery"/>
                    </div>
                </div>  
            </div>
        </div>
        <div class="panel panel-default">
            <div class="table-responsive">    
                <table class="table table-hover table-bordered table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                    [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th>
                                <mfDefaultSorter by="email">Email Address</mfDefaultSorter>
                            </th>
                            <th>
                                Favorites
                            </th>
                            <th>
                                Actions
                            </th> 
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of mf.data">
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let fav of user.favorites | keys; let last = last ">
                                    {{ getFavorites(fav) }}
                                    {{ favorites?.en?.business_name }}
                                    <span *ngIf="last">
                                        {{ refreshArray() }}
                                    </span>
                                </li>
                            </ul> 
                        </td>
                        <td>
                            <button class="btn btn-info" (click)="showModal('updateAccountModal');account_selected = user;">EDIT</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">
                            <mfBootstrapPaginator class="pull-right"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add Accounts Modal -->
<div bsModal #addAccountsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addAccountsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Accounts</h4>
        <button class="close" aria-label="Close" (click)="hideModal('addAccountsModal')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form novalidate [formGroup] = "add_accounts_form" (ngSubmit)="addAccount(add_accounts_form)">
      <div class="modal-body">
        <div *ngIf="error_message" class = "alert alert-danger">
            {{ error_message }}
        </div>
        <div *ngIf="success_message" class = "alert alert-success">
            {{ success_message }}
        </div> 
        <div class="form-group" [ngClass]="{'has-danger': !add_accounts_form.controls.email.valid && add_accounts_form.controls.email.touched}">
            <label for="email">Email Address:</label>
            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email Address">
        </div>
        
        <div class="form-group" [ngClass]="{'has-danger': !add_accounts_form.controls.email.valid && add_accounts_form.controls.email.touched}">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        
        <div class="form-group" [ngClass]="{'has-danger': !add_accounts_form.controls.cpassword.valid && add_accounts_form.controls.cpassword.touched}">
            <label for="cpassword">Current Password:</label>
            <input type="password" id="cpassword" class="form-control" formControlName="cpassword" placeholder="Current Password">
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hideModal('addAccountsModal')">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!add_accounts_form.valid">Save changes</button>
      </div>
    </form>  
    </div>
  </div>
</div>
<!-- End of Add Accounts Modal -->

<!-- Update Accounts Modal -->
<div bsModal #updateAccountModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title">Change "{{ account_selected?.email }}" PASSWORD?</h4>
                <button type="button" class="btn btn-default" (click)="hideModal('updateAccountModal')">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="updateAccountPassword(account_selected); hideModal('updateAccountModal')">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Update Accounts Modal -->

<!-- Delete Account -->
<div bsModal #deleteAccountModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title">CONFIRM "{{ account_selected?.email }}" Email DELETION</h4>
                <button type="button" class="btn btn-default" (click)="hideModal('deleteAccountModal')">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="deleteAccount(account_selected); hideModal('deleteAccountModal')">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- End of Delete Account -->