.inline-with-label{
    width:auto;display:inline-block;
}

.twenty-width{
    width: 20%;
}
.ten-width{
    width: 10%;
}
.eleven-width{
    width: 11%;
}
.twelve-width{
    width: 12%;
}
.fiftheen-width{
    width: 15%;
}

.some-padding{
    padding: 1em 0;
}